<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
	<display-name>DBT1</display-name>
	<description>Database Test 1</description>
	<servlet>
		<servlet-name>Dbt1Servlet</servlet-name>
		<display-name>Dbt1Servlet</display-name>
		<description>Database Test 1</description>
		<servlet-class>Dbt1Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dbt1Servlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
