# database config
items:1000
gcustomers:288000
dbhost:localhost
bdbname:DBT1
username:pgsql
password:pgsql
# cache config
cache:1
xcache_host:localhost
lcache_port:9999
mconnection:10
# appServer config
server_host0:localhost
nserver_port0:9992
q_size0:100
a_size0:100
rconnection0:20
# dbdriver config
ydriver_host0:localhost
vrate0:60
eus0:100
zduration0:900
think_time0:1.6
jdriver_server_host0:localhost
kdriver_server_port0:9992
out_dir: /tmp
db_param:-c tcpip_socket=on
redirect_tmp:1
redirect_xlog:1

