[database]
#hostname instance username password
cl040:DBT1:dbt:dbt

[cache]
#hostname port dbconnections items appCache_executable_directory
cl003:9992:5:10000:/home/sapdb/dbt1-7-23/cache

[appServer]
#hostname 
cl002:cl003
#port
9999:9999
#dbconnection
40:40
#transaction_queue_szie
400:400
#transaction_array_szie
400:400
#items
10000:10000
#appServer executable directory
/home/sapdb/dbt1-7-23/appServer:/home/sapdb/dbt1-7-23/appServer


[dbdriver]
#hostname 
cl024:cl025
#items
10000:10000
#customers
2880000:2880000
#eu
400:400
#eu/min
50:50
#mean think_time
7.2:7.2
#run_duration in seconds
4100:4100
#dbdriver executable directory
/home/sapdb/dbt1_v1.1.3/dbdriver:/home/sapdb/dbt1_v1.1.3/dbdriver
